.main {
  position: relative;
  margin-left: 310px;
}

.information {
  width: 99%;
}

.information input {
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
}

.information button {
  width: 310px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14pt;
  font-weight: bold;
  font-style: oblique;
}

.information button:hover {
  cursor: pointer;
}

.dbResults table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  grid-auto-columns: initial;
}

.dbResults tr {
  height: 30px;
  width: 200px;
}

.dbResults th {
  background-color: #d8d8d8;
  color: white;
}
